
* {
  background: rgba(138, 10, 10, 0.062);
}
.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
}

.wrapper div {
  width: 180px;
  text-align: justify;
/* border: 3px groove #000; */
border-top: 5px solid #ff0000;
border-right: 5px solid #ffe600;
border-bottom: 5px solid #3cff00;
border-left: 5px solid #2c14b6;
/* border-style: dashed; */
border-radius: 15px;
box-shadow: 10px 10px 100px hsl(0, 92%, 64%);
margin-top: 10px;
}

.wrapper .row{
  border: none;
  box-shadow: none;
  /* ============================= */
/*                    || */
  /* МБ БУДУТ ЛАГИ!!! \/ */
  /* transform: rotate(45deg); */
    /* ============================= */
}

.num-1 {
  /* position: absolute; */
  position: relative;
  animation: move-colum 5s;
  animation-iteration-count: infinite;
}

.num-2 {
  position: relative;
  animation: move-colum2 5s;
  animation-iteration-count: infinite;
}

.num-3 {
  position: relative;
  animation: move-colum 5s;
  animation-iteration-count: infinite;
}

.num-4 {
  position: relative;
  animation: move-colum2 5s;
  animation-iteration-count: infinite;
}

.num-5 {
  position: relative;
  animation: move-colum 5s;
  animation-iteration-count: infinite;
}

.num-6 {
  position: relative;
  animation: move-colum2 5s;
  animation-iteration-count: infinite;
}

.num-7 {
  position: relative;
  animation: move-colum 5s;
  animation-iteration-count: infinite;
}

.num-8 {
  position: relative;
  animation: move-colum2 5s;
  animation-iteration-count: infinite;
}

.num-9 {
  position: relative;
  animation: move-colum 5s;
  animation-iteration-count: infinite;
}

.num-10 {
  position: relative;
  animation: move-colum2 5s;
  animation-iteration-count: infinite;
}

@keyframes move-colum {
  0% {
    top: 0px
  }
  50% {
    top: 400px;
  }
  100% {
    top: 0px
  }
}

@keyframes move-colum2 {
  0% {
    top: calc(0% + 400px)
  }
  50% {
    top: 0;
  }
  100% {
    top: calc(0% + 400px)
  }
}

.block-2 {
  box-shadow: 10px 10px 100px hsl(29, 92%, 64%) !important; 
  
}

.block-3 {
box-shadow: 10px 10px 100px hsl(59, 92%, 64%) !important;

}

.block-4 {
box-shadow: 10px 10px 100px hsl(103, 92%, 64%) !important;

}

.block-5 {
box-shadow: 10px 10px 100px hsl(180, 92%, 64%) !important;

}

.block-6 {
box-shadow: 10px 10px 100px hsl(239, 92%, 64%) !important;

}

.block-7 {
box-shadow: 10px 10px 100px hsl(278, 92%, 64%) !important;

}

.block-8 {
box-shadow: 10px 10px 100px hsl(0, 92%, 64%) !important;

}

.block-9 {
box-shadow: 10px 10px 100px hsl(32, 92%, 64%) !important;

}

.block-10 {
box-shadow: 10px 10px 100px hsl(54, 92%, 64%) !important;

}