:root {
  --white-text: #F9FCFF;
  --general-text: #312C27;
  --heading-text: #1F1711;
  /* --accent-text: #1D6FB6; */
  --accent-bg: #FFE0CB;
  --accent-text: #CEAAD0;
  --accent-color: #FFA55C;
  --button-hover: #FF9138;
  --general-background: #FFF9F4;
}

body {
  font-family: "Montserrat", 'Arial', sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-background);
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* ==============header============== */

.header {
  padding-top: 19px;
}


.header__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 59px;
}

.header__logo {
  max-width: 174px;
  height: 57px;
  width: 100%;
}

.nav {
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
  margin-bottom: 7px;
  color: var(--general-text);
  line-height: 1.5;
  margin: 0;
}

.nav__item {
}

.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 100px;
  margin: 0px 0px 0px 0px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s;
}

.nav__link:hover::before {
  opacity: 1;
  transition: opacity 0.5s;
}


/* ==============hero-section============== */
.hero {
  position: relative;
  padding: 50px 0 280px;
}

.hero__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;

}

.hero__offer-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 520px;
  justify-content: end;
}

.hero__course-date {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #B197B2;
  line-height: 1.6;
  letter-spacing: 0%;
  flex-wrap: wrap;
}

.hero__course-date span {
  display: flex;
}

.hero__course-date span::after {
  content: '';
  width: 4px;
  height: 4px;
  background: #B197B2;
  border-radius: 50%;
  margin: 10px 10px;
}

.hero__course-date span:last-child::after {
  content: none;
}

.title {
  color: var(--heading-text);
  font-family: "Gabriola";
  font-size: 74px;
  font-weight: 400;
  line-height: 0.82;
  letter-spacing: 0%;
  margin-bottom: 30px;
}

.hero__offer-title {
  
}

.hero__offer-text {
  color: var(--general-text);
  line-height: 1.5;
  letter-spacing: 0%;
  margin-bottom: 40px;
  width: 360px;
}

.button {
  color: var(--general-text);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 100px;
  background: var(--accent-color);
  transition: background 0.3s;
  padding: 18px 18px;
}

.hero__button {
  max-width: 360px;
}

.button:hover {
  background: var(--button-hover);
  transition: background 0.3s;
}


.hero__img-wrapper {
  position: relative;
  min-width: 377px;
  max-height: 454px;
  margin-right: 247px;
}

.hero__img-wrapper {
}

.hero__img-wrapper img {

}

.hero__img-control {
  display: flex;
  position: absolute;
  bottom: 11%;
  left: calc(100% - 39px);
  gap: 10px;
  max-width: 200px;
}

.hero__video-icon {}

.hero__img-button {
  width: 78px;
  height: 78px;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
  background: var(--accent-bg);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  outline: 1px solid #00000000;
  outline-offset: -5px;
  transition: outline 1s;
  padding-left: 1%;
}

.hero__img-button:hover {
  outline: 1px solid var(--accent-color);
  transition: outline 0.5s;
}

.hero__video-disc {
  position: static;
  width: 112px;
  height: 72px;
}

.hero__background {
  position: absolute;
  top: 0;
  z-index: -9999;
  width: 100%;
  height: 721px;
  object-fit: cover;
}

/* ==============main============== */
.main {
  /* padding-top: 280px; */
  flex-grow: 1;
}

/* about us */
.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 53px;
  padding-bottom: 140px;
}

.about-us__image-wrapper {
  position: relative;
}

.about-us__image {
  width: 603px;
  height: 543px;
}

.about-us__offer {
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 20px;
  background: #957B97E6;
  color: var(--white-text);
  max-width: 976px;
}

.offer__image-wrapper {
  background: #FFF9F4;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-offset: -5px;
  outline: 1px solid #00000000;
  outline-offset: -5px;
  transition: outline 1s;
  cursor: pointer;
}

.offer__image-wrapper:hover {
  outline: solid 1px #CEAAD0;
  transition: outline 0.5s;
}

.about-us__offer-text {
  max-width: 171px;
  height: 72px;
}

.text {}

.about-us__info {
  max-width: 976px;
}


.about-us__info-title {
  margin: 0;
}

.title {}

.about-us__info-disc {
  margin-bottom: 30px;
}

.about-us__info-text {
  margin-bottom: 40px;
  width: 606px;
}

.about-us__advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

}

.advantages__item {
  display: flex;
  padding: 29px 23.5px;
  gap: 15px;
  align-items: center;
  background: var(--accent-bg);
  border-radius: 20px;
}

.advantages__img-wrapper {
  width: 60px;
  height: 60px;
  border: 1px solid var(--general-text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__text {
  width: 173px;
  height: 72px;
  align-content: center;
}