:root {
  --white-text: #F9FCFF;
  --general-text: #312C27;
  --heading-text: #1F1711;
  /* --accent-text: #1D6FB6; */
  --accent-bg: #FFE0CB;
  --accent-text: #CEAAD0;
  --accent-color: #FFA55C;
  --button-hover: #FF9138;
  --general-background: #FFF9F4;
  --transition: all 0.4s;
  --border-radius: 20px;
}

body {
  font-family: "Montserrat", 'Arial', sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-background);
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ==========Modal========== */
.modal {
  position: fixed;
  inset: 0;
  background: #0000004d;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.body--opened-modal .modal {
  transition: var(--transition);
  opacity: 1;
  visibility: visible;
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--general-background);
  border-radius: var(--border-radius);
  padding: 0px 60px 60px;
  max-width: 428px;
  height: 491px;
  gap: 10px;
}

.modal__cencel {
  position: absolute;
  width: 24px;
  right: 20px;
  top: 20px;
}

.modal__cencel path,
.modal__cencel rect {
  transition: var(--transition);
}

.modal__cencel:hover path,
.modal__cencel:hover rect {
  stroke: #AC907A;
  transition: var(--transition);
}

.modal__img {
  /* position: absolute;
  top: -65px;
  right: 90px; */
  margin: -90px 0 15px 13px;
}

.modal__title {
  color: rgb(31, 23, 17);
  font-family: Gabriola;
  font-size: 42px;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: 0%;
  text-align: left;
}

.modal__text {
  margin-bottom: 20px;
}

.modal__form-label {

}

.modal__form {}

.field {
  position: relative;
  display: block;
}

.field span {
  color: var(--button-hover);
  position: absolute;
  font-size: 11px;
  top: 11px;
  left: 28px;
  color: #AC907A;
  opacity: 0;
  visibility: hidden;
}

.field__input {
  display: block;
  height: 62px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid #AC907A;
  padding: 19px 28px;
  font-size: 16px;
  transition: var(--transition);
}

.field__input:hover {

  border: 1px solid var(--button-hover);
  transition: var(--transition);
}

.field__input::placeholder {
  transition: var(--transition);
}

.field__input:hover::placeholder {
  color: var(--button-hover);
  transition: var(--transition);
}

.field__input:focus {
  padding: 26px 42px 19px 28px;
}

.field__input:focus + span {
  transition: var(--transition);
  visibility: visible;
  opacity: 1;
}

.modal__button {
  width: 100%;
  height: 62px;
}

/* ==============header============== */

.header {
  padding-top: 19px;
  background: url("../images/heroBackground.png") 50% 100% / cover no-repeat;
  padding-bottom: 140px;
}


.header__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 59px;
}

.header__logo {
  display: block;
  max-width: 174px;
  z-index: 11;
}

.header__logo img {
  width: 100%;
}

.nav {}

.nav__list {
  display: flex;
  gap: 4vh 40px;
  color: var(--general-text);
  line-height: 1.5;
}

.nav__item {}

.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 100px;
  margin: 0px 0px 0px 0px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s;
}

.nav__link:hover::before {
  opacity: 1;
  /* transition: opacity 0.5s; */
}

.burger-button {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-button span,
.burger-button span::before,
.burger-button span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--heading-text);
  transition: var(--transition);
}

.burger-button span {
  position: relative;
}

.burger-button span::before,
.burger-button span::after {
  content: '';
  position: absolute;
}

.burger-button span::before {
  top: -8px;
}

.burger-button span::after {
  bottom: -8px;
}

.body--opened-menu .burger-button span {
  background: transparent;
}

.body--opened-menu .burger-button span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-button span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

/* ==============hero-section============== */
.hero {
  position: relative;
}

.hero__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;

}

.hero__offer-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 520px;
  justify-content: end;
}

.hero__course-date {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #B197B2;
  line-height: 1.6;
  letter-spacing: 0%;
  flex-wrap: wrap;
}

.hero__course-date span {
  display: flex;
}

.hero__course-date span::after {
  content: '';
  width: 4px;
  height: 4px;
  background: #B197B2;
  border-radius: 50%;
  margin: 10px 10px;
}

.hero__course-date span:last-child::after {
  content: none;
}

.title {
  color: var(--heading-text);
  font-family: "Gabriola";
  font-weight: 400;
  line-height: 0.82;
  letter-spacing: 0%;
}

.hero__offer-title {
  margin-bottom: 30px;
  font-size: 74px;
}

.hero__offer-text {
  color: var(--general-text);
  margin-bottom: 40px;
  max-width: 360px;
}

.hero__control-mobile {
  display: none;
}

.hero__control-mobile {
  display: flex;
  align-items: center;
  margin: 0px 0px 30px 0px;
  gap: 10px;
}

.hero__mobile-button {
  max-width: 360px;
  height: 62px;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
  background: var(--accent-bg);
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  outline: 1px solid #00000000;
  outline-offset: -5px;
  transition: outline 1s;
  padding: 15px;
  gap: 10px;
  display: none;
}

.hero__mobile-button:hover {
  outline: 1px solid var(--accent-color);
  transition: outline 0.5s;
}

.button {
  color: var(--general-text);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 100px;
  background: var(--accent-color);
  transition: background 0.3s;
  padding: 18px 18px;
}

.hero__button {
  max-width: 360px;
}

.button:hover {
  background: var(--button-hover);
  transition: background 0.3s;
}


.hero__img-wrapper {
  position: relative;
  max-width: 377px;
  max-height: 454px;
  position: relative;
  margin-right: 247px;
}

.hero__img-wrapper>img {
  width: 100%;
}

.hero__img-control {
  position: absolute;
  bottom: 11%;
  left: calc(100% - 39px);
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  text-align: left;
}

.hero__video-icon {}

.hero__img-button {
  width: 78px;
  height: 78px;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
  background: var(--accent-bg);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  outline: 1px solid #00000000;
  outline-offset: -5px;
  transition: outline 1s;
  padding-left: 1%;
}

.hero__img-button:hover {
  outline: 1px solid var(--accent-color);
  transition: outline 0.5s;
}

.hero__video-disc {
  position: static;
  width: 112px;
  height: 72px;
}

.hero__background {
  position: absolute;
  top: 0;
  z-index: -9999;
  width: 100%;
  height: 721px;
  object-fit: cover;
}

/* ==============main============== */
.main {
  /* padding-top: 280px; */
  padding-top: 140px;
  flex-grow: 1;
}

/* about us */
.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 53px;
  padding-bottom: 140px;
}

.about-us__img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.about-us__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
  border-radius: var(--border-radius);
}

/* .about-us__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
} */

.about-us__offer {
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: var(--border-radius);
  background: #957B97E6;
  color: var(--white-text);
  max-width: 976px;
}

.offer__img-button {
  background: #FFF9F4;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-offset: -5px;
  outline: 1px solid #00000000;
  outline-offset: -5px;
  transition: outline 1s;
  cursor: pointer;
}

.offer__img-button:hover {
  outline: solid 1px #CEAAD0;
  transition: outline 0.5s;
}

.about-us__offer-text {
  max-width: 171px;
  height: 72px;
}

.text {}

.about-us__info {
  max-width: 976px;
}


.about-us__info-title {
  font-size: 74px;
  margin: 0;
}

.about-us__info-disc {
  margin-bottom: 30px;
}

.about-us__info-text {
  margin-bottom: 40px;
  max-width: 622px;
}

.about-us__advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

}

.advantages__item {
  display: flex;
  padding: 29px 23.5px;
  gap: 15px;
  align-items: center;
  background: var(--accent-bg);
  border-radius: var(--border-radius);
}

.advantages__img-wrapper {
  width: 60px;
  height: 60px;
  border: 1px solid var(--general-text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__text {
  width: 173px;
  height: 72px;
  align-content: center;
}

.modal-mobile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: var(--border-radius);
  background: #957B97E6;
  color: var(--white-text);
  max-width: 295px;
  max-height: 120px;
  display: none;
}

/* ================= program ================= */

.main__program {
  margin-bottom: 145px;
}
.program {
}
.container {
}
.program__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 60px;
}
.program__heading {
  /* max-width: 603px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.program__title {
  font-size: 74px;
}
.title {
}
.program__text {
  max-width: 374px;
}
.text {
}
.tab-controls__list {
  display: flex;
  gap: 26px;
  margin-bottom: 24px;
}
.tab-controls__item {
}
.tab-controls__link {
  display: block;
  padding: 14px 30px;
  background-color: var(--general-background);
  border-radius: 100px;
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
  transition: var(--transition);
}

.tab-controls__link--active {
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
  background-color: var(--accent-bg);
  transition: var(--transition);
}

.tab-controls__item:hover a {
  background-color: var(--accent-bg);
  transition: var(--transition);
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}
.tab-controls__content {
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.tab-content--show {
  display: flex;
}

.tab-content--active .tab-content {}

.accordion__list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.accordion-list__item {
  background: var(--general-background);
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: 40px 30px 40px 30px;
  max-width: 1280px;
  width: 100vw;
  font-size: 50px;
  cursor: pointer;
  /* position: relative; */
  align-items: flex-start;
}
.accordion-list__button {
  position: relative;
  display: block;
  display: flex;
  align-items: flex-start;
  background: var(--general-background);
  width: 100%;
}

.tab-content__title {
  font-size: 42px;
  color: var(--heading-text);
}
.tab__toggle-button {
  /* position: absolute; */
  right: 30px;
  top: 41px;
}


.tab__toggle-button svg {
  position: absolute;
  top: 0;
  right: 0;
  fill:#FFF9F4;
  transition: var(--transition);
}

.tab__toggle-button path {
}

.tab-content

.accordion-list__item .tab__toggle-button svg {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--general-background);
  transition: var(--transition);
}

.accordion-list__item:hover .tab__toggle-button svg {
  fill: var(--accent-color);
  transform: rotate(90deg);
  transition: var(--transition);
}

.accordion-list__item:hover .tab__toggle-button path {
  fill: var(--general-background);
  transition: var(--transition);
}


.accordion__item--oppened .tab__toggle-button svg {
  fill: var(--accent-color);
  transform: rotate(90deg);
  transition: var(--transition);
}

.accordion__item--oppened .tab__toggle-button rect {
  fill: var(--accent-color);
  transition: var(--transition);
}

.accordion__item--oppened .tab__toggle-button path {
  fill: var(--general-background);
  transition: var(--transition);
}
.accordion-list__content {
  /* display: none; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.accordion-list__content--show {
}

.accordion__item--oppened .accordion-list__content {
  /* display: grid; */
}

.info-block__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion-list__info-block .theory {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
}

.info-block__disc {
  text-transform: uppercase;
  line-height: 160%;
  color: #CEAAD0;
  font-size: 16px;
}

.info-block__list {
  margin-top: 20px;
}

.info-block__item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.info-block__item span {
  font-size: 16px;
  line-height: 150%;
}

.info-block__item svg {
  width: 25px;
  height: 25px;
  color: var(--general-text);
}

.info-block__text {
  font-size: 16px;
  line-height: 150%;
  color: var(--general-text);
  margin-top: 20px;
}
/* ================= footer ================= */
.footer {
  background: #AB8261;
  min-height: 253px;
  color: var(--white-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  position: relative;
  padding-top: 30px;
}

.container {}

.footer__column-wrapper {
  display: grid;
  grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
}

.footer__column {
  padding-top: 30px;
}

.footer__column:first-child {
  padding-top: 0;
}

.footer__logo {
  display: flex;
}

.socials {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.socials__item {}

.socials__link path {
  transition: var(--transition);
}

.socials__link:hover path {
  fill: var(--accent-color);
  transition: var(--transition);
}

.footer__nav {}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white-text);
}

.footer__nav-item {}

.footer__nav-link {}

.footer__info-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.footer__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__contact-column {
  padding-top: 30px;
  text-align: end;
}

.footer__address {
  display: flex;
  gap: 8px;
}

.footer__contact {
  margin-top: 5px;
  /* text-align: end; */
}

.footer__contact-link {
  font-size: 24px;
  font-weight: 500;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  color: #DEC5B1;
}

/* ======================================== */
/* =================media================== */
/* ======================================== */
@media (max-width: 1200px) {
  .hero__img-control {
    position: static;
    max-width: none;
  }

  .hero__img-wrapper {
    margin: 0px;
  }

  .hero__img-wrapper>img {}

  .hero__video-disc {
    position: static;
    width: 100%;
    height: 100%;
  }

  .hero__img-control {
    margin-top: 30px;
  }

  /* =========footer-mobile=========== */
  .footer__column-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  .footer__column:first-child {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .footer__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .address__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__address {}
}

@media (max-width: 1060px) {
  .about-us {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

  }

  .about-us__img-wrapper {
    max-width: 622px;
  }

  .about-us__img {}

  .about-us__offer-wrapper {
    display: flex;
    justify-content: center;
  }

  .about-us__offer {}

  .offer__image-wrapper {}

  .offer__img-button:hover {}

  .about-us__offer-text {}

  .text {}

  .about-us__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .about-us__info-title {
    font-size: 74px;
  }

  .about-us__info-disc {}

  .about-us__info-text {}

  .about-us__advantages {}

  .advantages__item {}

  .advantages__img-wrapper {}

  .advantages__text {}
}

@media (max-width: 900px) {
  .header__nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    padding: 26vh 15px 30px;
    font-size: 24px;
    background: var(--general-background);
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-button {
    display: flex;
  }
}

@media (max-width: 800px) {
  .hero__content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .hero__offer-wrapper {
    padding-top: 60px;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .hero__offer-title {
    font-size: 12vw;
  }

  .hero__button {
    width: calc(100% + 10px);
  }

  .hero__img-wrapper img {
    display: none;
  }

  .hero__img-control {
    display: none;
  }

  .hero__mobile-button {
    /* width: calc(100% + 30px); */
    display: flex;
  }

  /* =========footer-mobile=========== */
  .footer__column-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 15px;
  }

  .footer__column:first-child {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
  }

  .footer__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__nav-list {
    align-items: flex-start;
  }

  .address__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer__contact-column {
    grid-column: 2;
    grid-row: 1;
    text-align: end;
  }

  .footer__address {}
}

@media (max-width: 650px) {
  .main {
    padding-top: 70px;
  }

  .about-us {
    grid-template-columns: 1fr;
    grid-template-rows: 0.55fr 1fr;
    gap: 30px;
  }

  .about-us__offer-wrapper {
    /* display: none; */
  }

  .about-us__offer {
    left: 15px;
    bottom: 15px;
  }

  .offer__img-button {}

  .offer__img-button:hover {}

  .about-us__img {
    max-width: 100%;
    height: 400px;
  }

  .about-us__offer-text {}


  .about-us__info {
    /* align-items: flex-start; */
  }

  .about-us__info-title {
    font-size: 12vw;
  }

  .about-us__info-disc {}

  .about-us__info-text {
    max-width: 500px;
  }

  .about-us__advantages {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
  }

  .advantages__item {}

  .advantages__img-wrapper {
  }

  .advantages__text {
    width: 90%;
  }

  .modal-mobile__wrapper {
    display: flex;
    justify-content: center;
  }

  .modal-mobile {
    display: flex;
  }
}

@media (max-width: 600px) {

  /* =========footer-mobile=========== */
  .footer__column-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.65fr 1fr;
    gap: 0px;
  }

  .footer__column:first-child {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    align-items: center;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__nav-list {
    align-items: center;
  }

  .footer__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }

  .address__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__contact-column {
    grid-column: 1;
    grid-row: 3;
  }
}


@media (max-width: 420px) {
  .about-us__offer {
    right: 15px;
  }

  .offer__img-button {
    height: 65px;
    width: 65px;
  }

  .advantages__text {
    width: 173px;
  }
  
  .advantages__img-wrapper {
    width: 60px;
  }
}