.line {
  height: 2px;
  width: 100%;
  color: black;
}

.text-lorem {
  font-size: 5px;
  line-height: 5px;
  font-style: italic;
  font-weight: 400;
}

.title {
  color: rgb(28, 240, 255);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.title-2 {
  color: rgb(28, 240, 255);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: line-through;
}

.text-lorem2 {
text-decoration: underline;
font-size: 5px;
line-height: 5px;
font-style: italic;
font-weight: 400;
}

.text-3 {
font-size: 5px;
line-height: 5px;
font-style: italic;
font-weight: 400;
text-shadow: 0 0 #333;
white-space: inherit;
}