.block-1 {
  width: 180px;
  text-align: justify;
/* border: 3px groove #000; */
border-top: 5px solid #ff0000;
border-right: 5px solid #ffe600;
border-bottom: 5px solid #3cff00;
border-left: 5px solid #2c14b6;
/* border-style: dashed; */
border-radius: 15px;
}

.block-2 {

}

.block-3 {

}

.block-4 {

}